@import "vars"
@import "base"

// user styles

main
    width: 1920px
    height: 1862px
    background-color: $bg-color
    line-height: normal
    font-size: 14px
    line-height: normal
    font-weight: 400
    margin: 0 auto
    .top-header
        height: 44px
        background-color: $nav-bg-color
        display: flex
        flex-direction: row
        align-items: center
        color: $nav-textcolor
        .left-topnav
            margin-left: 405px
            margin-right: 360px
            .registration-offer
                font-family: Montserrat, sans-serif
                line-height: normal
                font-size: 14px
                color: $text-color
            .underlined
                text-decoration-line: underline
        .right-topnav
            display: flex
            color: $text-color
            .register
                width: 131px
                height: 44px
                font-family: Montserrat, sans-serif
                text-align: center
                padding: 13px
                background: #FFE8BD
            .user
                color: $text-color
                margin-left: 20px
                padding-top: 15px
    header .header-logo
        display: flex
        align-items: center
        height: 89px
        background: #FFFFFF
        .logo
            margin-left: $left-padding
        .cross
            margin-left: 10px
        .chart
            width: 115px
            border: 1px solid $accent-color
            height: 38px
            margin-left: 790px
            padding-top: 8px
            .chart-text
                font-family: Montserrat, sans-serif
                line-height: normal
                font-size: 12px
                text-align: center
                text-transform: uppercase
                color: $text-color
    nav
        background: $accent-color
        padding: 0 415px
        .menu
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: flex-start
            align-items: center
            height: 50px
            margin: 0
            padding: 0
            flex-basis: auto
            li
                list-style: none
                margin: 0
                padding: 0
                flex-grow: 1
                text-align: center
                a
                    text-decoration: none
                    font-weight: 600
                    font-family: Montserrat, sans-serif
                    line-height: normal
                    font-size: 14px
                    letter-spacing: 0.02em
                    color: #333333
                    display: block
                    padding: 17px
                    &:hover
                        background: #ffffff
                        cursor: pointer
    section
        width: 1110px
        margin: 40px 300px 0 405px
        .search
            font-family: Montserrat, sans-serif
            padding: 15px
            height: 110px
            background: #FFFFFF
            border: 1px solid #E4E4E4
            box-sizing: border-box
            box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25)
            border-radius: 3px
            margin-bottom: 55px
            .search-text
                margin-bottom: 10px
            .search-by-code
                line-height: normal
                text-align: center
                color: #333333
                font-weight: 800 
            .search-by-vin
                margin-left: 25px
                color: #828282   
                line-height: normal
                text-align: center
            .search-field
                position: relative
                input
                    width: 964px
                    height: 38px
                    background-color: #F5F5F5
                    border-radius: 3px   
                    padding-left: 40px
                img
                    position: absolute
                    left: 20px
                    top: 12px
                button
                    height: 38px
                    width: 96px
                    border: none
                    border-radius: 3px
                    background-color: #FFAF1E
                    color: #000
                    font-weight: 800
                    cursor: pointer
        .category
            .top-row
                display: flex
                width: 100%
                margin-bottom: 20px
                .cat-details
                    flex-grow: 1
                    text-align: center
                    padding: 20px;
                .cat-oils
                    flex-basis: 416px
                    height: 190px
                    background: #FFFFFF
                    border: 1px solid #E4E4E4
                    box-sizing: border-box
                    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                    border-radius: 3px
                    text-align: center
                    padding: 20px;
            .bottom-row
                display: flex
                justify-content: space-between
                .cat-lights
                    padding: 20px
                    width: 350px
                    text-align: center
                    height: 190px
                    background: #FFFFFF
                    border: 1px solid #E4E4E4
                    box-sizing: border-box
                    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                    border-radius: 3px
                .cat-tyres
                    padding: 20px
                    width: 350px
                    text-align: center
                    height: 190px
                    background: #FFFFFF
                    border: 1px solid #E4E4E4
                    box-sizing: border-box
                    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                    border-radius: 3px
                .cat-akb
                    padding: 20px
                    width: 350px
                    text-align: center
                    height: 190px
                    background: #FFFFFF
                    border: 1px solid #E4E4E4
                    box-sizing: border-box
                    box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                    border-radius: 3px
        .model-brands
            text-align: center
            display: flex
            justify-content: space-between
            div
                display: flex
                justify-content: center
                align-items: center
                width: 209px
                height: 190px
                background: #FFFFFF
                border: 1px solid #E4E4E4
                box-sizing: border-box
                box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                border-radius: 3px
                img
        h4
            text-align: center
        .search-catalog
            text-align: center
            button
                height: 38px
                width: 181px
                border: none
                border-radius: 3px
                background-color: #FFAF1E
                color: #000
                font-weight: 800
                cursor: pointer
        .adress
            margin-top: 50px
            .title
                text-align: center
                font-size: 20px
                color: #000
                font-weight: 600
                margin-bottom: 30px
            .geo-location
                width: 1110px
                height: 402px
                background: #FFFFFF
                border: 1px solid #E4E4E4
                box-sizing: border-box
                box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05)
                border-radius: 3px
                padding: 20px
            .street
                margin-bottom: 20px
            .grid
                grid-template-columns: 492px 200px auto
                grid-column-gap: 10px;

            .map
                #map 
                    height: 316px /* The height is 400 pixels */
                    width: 492px  /* The width is the width of the web page */
            .photos
                display: inline-block
            .description
                ul
                    // list-style-image: 
                .go
                    margin-left: 25px
                    button
                        height: 38px
                        width: 181px
                        border: none
                        border-radius: 3px
                        background-color: #FFAF1E
                        color: #000
                        font-weight: 800
                        cursor: pointer 
                        margin-top: 20px
@import "media" // Always in the end
