* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: Google Sans, sans-serif;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  width: 1920px;
  height: 1862px;
  background-color: #E5E5E5;
  line-height: normal;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  margin: 0 auto;
}

main .top-header {
  height: 44px;
  background-color: #F5F7FA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #979FAD;
}

main .top-header .left-topnav {
  margin-left: 405px;
  margin-right: 360px;
}

main .top-header .left-topnav .registration-offer {
  font-family: Montserrat, sans-serif;
  line-height: normal;
  font-size: 14px;
  color: #333333;
}

main .top-header .left-topnav .underlined {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

main .top-header .right-topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #333333;
}

main .top-header .right-topnav .register {
  width: 131px;
  height: 44px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  padding: 13px;
  background: #FFE8BD;
}

main .top-header .right-topnav .user {
  color: #333333;
  margin-left: 20px;
  padding-top: 15px;
}

main header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 89px;
  background: #FFFFFF;
}

main header .header-logo .logo {
  margin-left: 405px;
}

main header .header-logo .cross {
  margin-left: 10px;
}

main header .header-logo .chart {
  width: 115px;
  border: 1px solid #FFAF1E;
  height: 38px;
  margin-left: 790px;
  padding-top: 8px;
}

main header .header-logo .chart .chart-text {
  font-family: Montserrat, sans-serif;
  line-height: normal;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

main nav {
  background: #FFAF1E;
  padding: 0 415px;
}

main nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 0;
  padding: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
}

main nav .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

main nav .menu li a {
  text-decoration: none;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  line-height: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #333333;
  display: block;
  padding: 17px;
}

main nav .menu li a:hover {
  background: #ffffff;
  cursor: pointer;
}

main section {
  width: 1110px;
  margin: 40px 300px 0 405px;
}

main section .search {
  font-family: Montserrat, sans-serif;
  padding: 15px;
  height: 110px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.25);
  border-radius: 3px;
  margin-bottom: 55px;
}

main section .search .search-text {
  margin-bottom: 10px;
}

main section .search .search-by-code {
  line-height: normal;
  text-align: center;
  color: #333333;
  font-weight: 800;
}

main section .search .search-by-vin {
  margin-left: 25px;
  color: #828282;
  line-height: normal;
  text-align: center;
}

main section .search .search-field {
  position: relative;
}

main section .search .search-field input {
  width: 964px;
  height: 38px;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding-left: 40px;
}

main section .search .search-field img {
  position: absolute;
  left: 20px;
  top: 12px;
}

main section .search .search-field button {
  height: 38px;
  width: 96px;
  border: none;
  border-radius: 3px;
  background-color: #FFAF1E;
  color: #000;
  font-weight: 800;
  cursor: pointer;
}

main section .category .top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

main section .category .top-row .cat-details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding: 20px;
}

main section .category .top-row .cat-oils {
  -ms-flex-preferred-size: 416px;
      flex-basis: 416px;
  height: 190px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
  text-align: center;
  padding: 20px;
}

main section .category .bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .category .bottom-row .cat-lights {
  padding: 20px;
  width: 350px;
  text-align: center;
  height: 190px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
}

main section .category .bottom-row .cat-tyres {
  padding: 20px;
  width: 350px;
  text-align: center;
  height: 190px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
}

main section .category .bottom-row .cat-akb {
  padding: 20px;
  width: 350px;
  text-align: center;
  height: 190px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
}

main section .model-brands {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section .model-brands div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 209px;
  height: 190px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
}

main section h4 {
  text-align: center;
}

main section .search-catalog {
  text-align: center;
}

main section .search-catalog button {
  height: 38px;
  width: 181px;
  border: none;
  border-radius: 3px;
  background-color: #FFAF1E;
  color: #000;
  font-weight: 800;
  cursor: pointer;
}

main section .adress {
  margin-top: 50px;
}

main section .adress .title {
  text-align: center;
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

main section .adress .geo-location {
  width: 1110px;
  height: 402px;
  background: #FFFFFF;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
          box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.05);
  border-radius: 3px;
}

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/
}
/*# sourceMappingURL=main-2.css.map */